/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color:  red;
}

.vertical-middle {
    vertical-align: middle;
}

.snack-message-success {
    background-color: #000;
    color: #fff;
}

.snack-message-error {
    background-color: red;
    color: #000;
}
.snack-message-error button {
    background-color: #ffffffe6;
    color: #000;
}
